In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')# get dummy variables
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# 特征提取
df_getdummy=pd.get_dummies(data=dataset, columns=['Gender'])
X = df_getdummy.drop('Purchased',axis=1)
y = df_getdummy['Purchased']

# 交叉验证
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# 特征缩放
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [4]:
clg = LogisticRegression(random_state = 0)
clg.fit(X_train, y_train)
y_pred = clg.predict(X_test)

# 混淆矩阵评估
confusion_matrix(y_test, y_pred)

array([[66,  2],
       [ 8, 24]])

我们利用混淆矩阵评估，结果说明我们有66+24=90正确预测而有2+8=10预测错误

In [5]:
# 准确率评估
accuracy_score(y_true=y_train, y_pred=clg.predict(X_train))

0.8366666666666667